<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Just for bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Styles of some blocks !-->
    {% load static %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/custom_brand/custom_brand.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/custom_footer/custom_footer.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/custom_header/custom_header.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/main/main.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/no_products/no_products.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/product_info/product_info.css' %}">

    {% load static %}
    <meta charset="UTF-8">
    <title>Wannait</title>
</head>

<body>
<nav class="custom-header navbar navbar-dark bg-primary d-flex justify-content-end">
    <span class="navbar-brand h1 custom-brand">Wannait</span>
    <a type='button'
       class='btn btn-primary'
       href="{% url 'frontend_server:index' %}">Recommendations</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signmodal">
        Sign In / Sign Up
    </button>
</nav>

<div class="product-info main">
    {% if product %}
    <div class="product-info__product">
        <div class="product-info__product__logo">
            <h1 class="product-info__product__logo__name">
                {{ product.name }}
            </h1>
            {% if product.image_url == 'none' %}
            {% load static %}
            <img class="product-info__product__logo__image"
                 src="{% static "frontend_server/images/notfound.jpg" %}">
            {% else %}
            <img class="product-info__product__logo__image"
                 src="{{product.image_url}}">
            {% endif %}
        </div>

        <div class="product-info__product__description">
            {{product.description}}
        </div>
    </div>

    <div class="product-info__comments">
        <h1 class="product-info__comments__header">
            Comments
        </h1>

        {% if comments %}
            {% for comment in comments %}
                <div class="media product-info__comments__comment">
                    <h5 class="mt-0 product-info__comments__comment__user-name">
                        {{comment.user.username}}
                    </h5>
                    <div class="media-body product-info__comments__comment__text">
                        {{comment.text}}
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <h3>
           Whoops, no comments available!
        </h3>
        {% endif %}


    </div>

    {% else %}
    <h4 class="no-products">
        Whoops, product is not avaliable!
    </h4>
    {% endif %}
</div>

<nav class="custom-footer navbar navbar-expand navbar-dark bg-primary fixed-bottom">
    <a class="navbar-brand mx-auto" href="http://t.me/WannaitBot">Link to owner</a>
</nav>

<!-- Modal Dialogue for Sign in / Sign Up-->
<div class="modal fade" id="signmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Just for bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
