.product-info {
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-wrap: wrap;
}

.product-info__product {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
}

.product-info__product__logo {
    display: flex;
    flex-direction: column;
    width: 40vh;
    text-align: center;
    align-content: center;
}

.product-info__product__logo__name {
    text-align: center;
    self-align: center;
}

.product-info__product__logo__image {
    self-align: center;
}

.product-info__product__description {
    margin: 5%;
    margin-bottom: 0;
    justify-content: center;
    self-align: center;
}

.product-info__comments {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.product-info__comments__header {
}

.product-info__comments__comment {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 0.5%;
    background: #EBEDF7;
}

.product-info__comments__comment__user-name {
    margin: 1%;
    text-align: center;
}

.product-info__comments__comment__text {
}
